# {{ document.title }}

*{{ document.author }} · {{ document.quarter }} · {{ document.date }}*

{% include "content/introduction.md" %}

{% include "content/findings.md.j2" %}

{% include "content/conclusion.md" %}
